body {
    background-color: #D8F8F8;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
}

.landing-page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing-page-content {
    color: #DEDEDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-position {
    padding-top: 200px;
}

.button-design{
    background-color: #EBB244; 
    border: 2px solid #EBB244;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 60px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    color: white;
    
}

.button-design:hover {
    background-color: white;
    color: black;
}


.panel-donasi{
	position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: #D8F8F8;
    border: 1px solid #D8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.header{
    width:100%;
    height: 77.5px;
    position: fixed;
    background-color: white;
    margin-top: 0%;
    border-bottom: 1.5px solid rgba(225, 205, 205, 0.51);
}

.textC{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Handlee', cursive;
    font-size: 50px;
}

.name{
    position: absolute;
    font-family: 'Handlee';
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 70px;

}

.row {
    margin-left: 0;
    margin-right: 0;
}
