{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>SeberapaManisKamu</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
  

</head>


<body>
  <div class="landing-page2">
      <div class="landing-page-content">
          <h1 class = "name">Seberapa <font color= "#EBB244">Manis</font> Kamu <img src="{% static 'images/faq.png' %}" height="50px;" width="50px;"></h1>
          <div class= "button-position">
              <a href = "{% url 'diabetes:information' %}"><button class = "button-design">Tes Sekarang</button></a>
          </div>
          
      </div>
  </div>
 
</body>

</html>
