body {
	background-color: #F9FEFF;
}

.kotak-tes-diabetes {
    margin-top: 50px;
	position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: #D8F8F8;
    border: 1px solid #D8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.judul {
    text-align: center;
    height: 15px;
}

.radio-inline {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: white;
    border-bottom: 1.5px solid rgba(225, 205, 205, 0.51);
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    box-shadow: 0 0 1px 0 rgba(225, 205, 205, 0.51);
}

.suggestion-text{
    color: black;

}

.button-submit{
    background-color: #D8F8F8;
    
    color: black;
    border: 2px solid #EBB244;
}

.button-submit:hover{
    background-color: #EBB244;
    color: white;
}

.resultHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.result{
    font-family: 'Domine', serif;
    font-size: 60px;
    margin-top: 40px;
}

.bg-white {
    background-color: transparent;
}

.keterangan{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
