{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" style="height: 50px;">
</div>
<div class="row d-flex justify-content-between align-items-center">
  <div class="col-3">
  </div>
  <div class="col-7">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="kotak-tes-diabetes">
        <div class="row" style="margin-left: 20px; margin-top:15px;">
          <div class="col-4">
            <p class="judul">About</p>
            <div class="row" style="height: 1px; background-color: #EBB244;"></div>
          </div>
          <div class="row" style="margin-left: 1px; margin-top:40px;"> 
            <div class="col-8" style="width: 1000px;"> 

              <p style="text-align: justify;">
              Berawal dari kekhawatiran kami yang menyadari bahwa pentingnya pengetahuan tentang
              diabetes sejak dini, kami membuat simulator pengecekkan diabetes sederhana. 
              Namun, mohon jangan jadikan simulator kami sebagai acuan ya! Terima kasih dan
              selamat mencoba SeberapaManisKamu?</p>
              
            </div>
            
          
          </div>
            
            
          

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}