{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" style="height: 50px;">
  </div>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-3">
    </div>
    <div class="col-7">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="kotak-tes-diabetes">
          <div class="row" style="margin-left: 20px; margin-top:15px;">
            <div class="col-4">
              <p class="judul"> Saran untuk kami?</p>
              <div class="row" style="height: 1px; background-color: #EBB244;"></div>
            </div>
            <div class="container" style="margin-top:  80px; margin-left: 20px;">
              <h4>Kritik dan saran dari kalian akan sangat berarti!</h4>
              <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="typehere">Ketik disini:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Saranku...." name="email">
                  </div>
                </div>
                
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
  
                  </div>
                </div>
                
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}