{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>SeberapaManisKamu - Diabetes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'css/diabetes.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400i|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Domine|Oswald&display=swap" rel="stylesheet">
  

</head>


<body>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'landing:landingpage' %}" style="font-family:'Handlee', cursive; font-size: 28px;">Seberapa</a>
    <a class="navbar-brand" href="{% url 'landing:landingpage' %}" style="font-family:'Courgette', cursive; font-size: 28px; color:#EBB244;">Manis</a>
    <a class="navbar-brand" href="{% url 'landing:landingpage' %}" style="font-family:'Handlee', cursive; font-size: 28px;">Kamu</a>
    <a href="#"><img src="{% static 'images/faq.png' %}" height="40px;" width="40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
      <ul class="navbar-nav">
        <li style="float:right">
          <a class="nav-link" href="{% url 'diabetes:anyIdea' %}" style="color: black; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: bold;">ANY IDEA?<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'diabetes:about' %}" style="color: black; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: bold;">ABOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="site-wrapper">
      {% block content %}
      {% endblock content %}

  </div>
</body>

</html>