{% extends 'base.html'%}
{% load static %}
{% block content %}
  
  <div class="row" style="height: 50px;">
  </div>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-3">
    </div>
    <div class="col-7">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="kotak-tes-diabetes">
          <div class="row" style="margin-left: 20px; margin-top:15px;">
            <div class="col-4">
              <p class="judul">INFORMATION</p>
              <div class="row" style="height: 1px; background-color: #EBB244;"></div>
            </div>
            <div class="col-4">
              <p class="judul">RESULT</p>
            </div>
            <div class="col-4">
              <p class="judul">TREATMENT</p>
            </div>
          </div>
          <div class="row" style="height: 1px; width: 700px; background-color: #E1CDCD; margin-left: 0px;"></div>
          <div class="row" style="margin-left: 80px; margin-top:30px;">
            <div class="col-10">
              <div class="row" style="margin-top: 10px;">
                <form action="{% url 'diabetes:result' %}" method="POST">
                  {% csrf_token %}
                  <div id="gender">
                    <span style="padding-right: 15px;">Jenis Kelamin : </span>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="jenis-kelamin" value="Pria">
                      <label class="form-check-label" for="exampleRadios1">
                        Pria
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="jenis-kelamin" value="Wanita">
                      <label class="form-check-label" for="exampleRadios2">
                        Wanita
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="jenis-kelamin" value="Unknown" checked>
                      <label class="form-check-label" for="exampleRadios3">
                        Memilih Tidak Menjawab
                      </label>
                    </div>
                  </div>
                  <br>
                  <div id="smoker">
                    <span style="padding-right: 15px;">Apakah anda perokok? : </span>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="smoker" id="smoker" value="Ya">
                      <label class="form-check-label" for="exampleRadios4">
                        Ya
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="smoker" id="smoker" value="Tidak">
                      <label class="form-check-label" for="exampleRadios5">
                        Tidak
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="smoker" id="Smoker" value="Unknown" checked>
                      <label class="form-check-label" for="exampleRadios6">
                        Memilih tidak menjawab
                      </label>
                    </div>
                  </div>
                  <br>
                  <div id="bmi">
                    <div class="row">
                      <div class="col-4">
                        <label>Tinggi Badan : </label>
                      </div>
                      <div class="col-5">
                        <input type="number" class="form-control" placeholder="contoh: 170" name="tinggi">
                      </div>
                      <div class="col"><label>cm</label></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-4">
                        <label>Berat Badan : </label>
                      </div>
                      <div class="col-5">
                        <input type="number" class="form-control" placeholder="contoh: 44" name="berat">
                      </div>
                      <div class="col"><label>kg</label></div>
                    </div>
                  </div>
                  <br>
                  <div id="usia">
                    <div class="row">
                      <div class="col-4">
                        <label>Usia : </label>
                      </div>
                      <div class="col-5">
                        <input type="number" class="form-control" placeholder="contoh: 19" name="usia">
                      </div>
                      <div class="col"><label>tahun</label></div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-default button-submit">Submit</button>
                    </div>
                    <div class="col-1"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
