{% extends 'base.html'%}
{% load static %}
{% block content %}

  <div class="row" style="height: 50px;">
  </div>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-3">
    </div>
    <div class="col-7">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="kotak-tes-diabetes">
          <div class="row" style="margin-left: 20px; margin-top:15px;">
            <div class="col-4">
              <p class="judul">INFORMATION</p>
            </div>
            <div class="col-4">
              <p class="judul">RESULT</p>
              <div class="row" style="height: 1px; background-color: #EBB244;"></div>
            </div>
            <div class="col-4">
              <p class="judul">TREATMENT</p>
            </div>
          </div>
          <div class="row" style="height: 1px; width: 700px; background-color: #E1CDCD; margin-left: 0px;"></div>
          <div class="row" style="margin-left: 50px; margin-top:10px;">
            <div class="col-8">
              <div class="row" style="margin-top: 30px;">
                <p class = "resultHeader">Kemungkinan Persentase Diabetes:</p>
              </div>
            </div>
          </div>
          <div class = "text-center result"> <p><font color= "#EBB244">  {{ result }}%</font></p></div>

          <div class="row" style="margin-left: 50px; margin-top:100px;">
              <div class="col-5"> <p class = "keterangan">*Keterangan: Jika ada keluarga dekat Anda menderita diabetes, persentase Anda akan tambah 10x lipat.</p> </div>
              <div class = "col-7">
                <div class = "text-center"> 
                    <a class = "text-right"  href = "{% url 'diabetes:treatment' %}"><button class = "btn btn-default button-submit">Selanjutnya</button></a> 
                </div>
                

              </div>
              
            
          </div>

          
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}



