{% extends 'base.html'%}
{% load static %}
{% block content %}

  <div class="row" style="height: 50px;">
  </div>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-3">
    </div>
    <div class="col-7">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="kotak-tes-diabetes">
          <div class="row" style="margin-left: 20px; margin-top:15px;">
            <div class="col-4">
              <p class="judul">INFORMATION</p>
            </div>
            <div class="col-4">
              <p class="judul">RESULT</p>
              
            </div>
            <div class="col-4">
              <p class="judul">TREATMENT</p>
              <div class="row" style="height: 1px; background-color: #EBB244; width: 180px; margin-left: 10px"></div>
            </div>
          </div>
          <div class="row" style="height: 1px; width: 700px; background-color: #E1CDCD; margin-left: 0px;"></div>
          <div class="row" style="margin-left: 50px; margin-top:30px;">
            <h2 style="font-family: 'Roboto'; font-size: 22px; font-weight: bold;">Positif Diabetes</h2>
          </div>
          <div class ="row" style="margin-left: 50px; margin-top:10px;">
                <ul>
                        <li>Cek untuk kondisi lebih lanjut ke dokter terdekat.</li>
                        <li>Ubah pola makan, kurangin gula pada makanan, dan perbanyak buah dan sayur.</li>
                        <li>Rajin berolahraga.</li>
                        <li>Pilih alas kaki yang sesuai agar tidak gampang luka</li>
                        <li>Jaga kebersihan mulut agar mulutnya tidak kena infeksi.</li>


                </ul>  
        </div>

        <div class="row" style="margin-left: 50px; margin-top:20px;">
                <h2 style="font-family: 'Roboto'; font-size: 22px; font-weight: bold;">Mengurangi Terjadinya Diabetes</h2>
        </div>
        <div class ="row" style="margin-left: 50px; margin-top:10px;">
                <ul>
                        <li>Batasi makan daging merah.</li>
                        <li>Hindari minuman manis.</li>
                        <li>Kalo bisa makan karbo whole grain daripada grafined grain</li>


                </ul>  
        </div>

          
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
